#660710249 พลอยไพลิน กว้านวิพิธกาญจน์

#Data Preparation

1.import library

In [6]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta

2.อ่านไฟล์

In [7]:
student = pd.read_csv('student.csv')

3.แสดงข้อมูลในตาราง

In [8]:
student

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

4.ทำสำเนา

In [9]:
student_copy = student.copy()

5.ตรวจดูค่าว่าง

In [10]:
student_copy.isnull().sum()

รหัสนักศึกษา               0
ชื่อ                       1
อายุ                       3
เพศ                        2
คณะ                        2
GPA                        2
ส่วนสูง_cm                 1
น้ำหนัก_kg                 2
ชั่วโมงเรียน_ต่อสัปดาห์    2
วันที่ลงทะเบียน            0
dtype: int64

6. ลบแถวทั้งหมดที่มีค่า NaN (ค่าหาย) ออกจาก DataFrame

In [11]:
student_copy.dropna(subset=['ชื่อ'], inplace=True)
student_copy

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

7. หาค่าเฉลี่ยอายุนักเรียนทั้งหมดเพื่อนำมาเติมค่าลงในช่องว่าง และวนลูปว่ามีค่าในหลักไหนของ 'อายุ' ที่มากกว่า 30 แล้วแทนด้วยค่าเฉลี่ย

In [12]:
mean = round(student_copy['อายุ'].mean())
student_copy['อายุ'].fillna(mean, inplace=True)
for i, age in student_copy['อายุ'].items():
    if age  > 30:
        student_copy.at[i, 'อายุ'] = mean

student_copy

/tmp/ipykernel_6924/2950245254.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_copy['อายุ'].fillna(mean, inplace=True)

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,28.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,28.0,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,28.0,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

8. จับคู่เพศที่มีความหมายเดียวกัน เพื่อให้ข้อมูลมีความสม่ำเสมอ

In [13]:
gender_mapping = {
    'ชาย': 'ชาย',
    'หญิง': 'หญิง',
    'F': 'หญิง',
    'M': 'ชาย',
    'ญ': 'หญิง',
    'ช': 'ชาย',
    'Female': 'หญิง',
    'Male' : 'ชาย'
}

9. นำค่าที่จับคู่มาปรับใช้กับตาราง ส่วนค่าว่างให้แทนด้วย ไม่ระบุ

In [14]:
student_copy['เพศ']=student_copy['เพศ'].map(gender_mapping)
student_copy['เพศ'].fillna('ไม่ระบุ', inplace=True)

student_copy

/tmp/ipykernel_6924/1975589754.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_copy['เพศ'].fillna('ไม่ระบุ', inplace=True)

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ชาย,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,หญิง,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,28.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,ชาย,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,28.0,ไม่ระบุ,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,หญิง,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,28.0,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,ไม่ระบุ,Science,3.45,168.0,64.0,23.0,2024-01-06

10. จับคู่คณะที่มีความหมายเดียวกัน ให้เท่ากับค่าๆหนึ่ง เพื่อให้ข้อมูลมีความสม่ำเสมอ

In [15]:
faculty_mapping = {
    'วิทย์': 'วิทยาศาสตร์',
    'คณะวิทยาศาสตร์' : 'วิทยาศาสตร์',
    'Science': 'วิทยาศาสตร์',
    'Sci' : 'วิทยาศาสตร์',
    'วิทยาศาสตร์': 'วิทยาศาสตร์',
    'ศิลปศาสตร์': 'ศิลปศาสตร์',
    'Arts': 'ศิลปศาสตร์',
    'Liberal Arts': 'ศิลปศาสตร์',
    'ศิลป์' : 'ศิลปศาสตร์',
    'อุตสาหกรรม': 'วิศวกรรมศาสตร์',
    'วิศวกรรมศาสตร์': 'วิศวกรรมศาสตร์',
    'วิศวกรรม': 'วิศวกรรมศาสตร์',
    'วิศวกรรมอุตสาหกรรม': 'วิศวกรรมศาสตร์',
    'วิศวะ': 'วิศวกรรมศาสตร์',
    'วิศวฯ': 'วิศวกรรมศาสตร์',
    'Engineering': 'วิศวกรรมศาสตร์'
}

11. นำค่าที่จับคู่มาปรับใช้กับตาราง ส่วนค่าว่างให้แทนด้วย ไม่ระบุ

In [16]:
student_copy['คณะ'] = student_copy['คณะ'].map(faculty_mapping)
student_copy['คณะ'].fillna('ไม่ระบุ', inplace=True)

student_copy

/tmp/ipykernel_6924/2233837214.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_copy['คณะ'].fillna('ไม่ระบุ', inplace=True)

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ชาย,วิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,28.0,ชาย,วิศวกรรมศาสตร์,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรมศาสตร์,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,28.0,ไม่ระบุ,ไม่ระบุ,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทยาศาสตร์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,ไม่ระบุ,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,28.0,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,ไม่ระบุ,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

12.หาค่าเฉลี่ยเกรดนักเรียนทั้งหมดในตารางเพื่อเอามาแทนในค่าว่าง วนลูปว่ามีค่าในหลักไหนของ 'GPA' ที่มากกว่า 4.00 และมีค่าน้อยกว่า 0.00 แล้วแทนด้วยค่าเฉลี่ย

In [17]:
GPAmean = round(student_copy['GPA'].mean(), 2)
student_copy['GPA'].fillna(GPAmean, inplace=True)
for i, GPA in student_copy['GPA'].items():
    if GPA  > 4.00:
        student_copy.at[i, 'GPA'] = GPAmean

    if GPA < 0.00:
        student_copy.at[i, 'GPA'] = GPAmean

student_copy

/tmp/ipykernel_6924/933890435.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_copy['GPA'].fillna(GPAmean, inplace=True)

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ชาย,วิทยาศาสตร์,3.22,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,28.0,ชาย,วิศวกรรมศาสตร์,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรมศาสตร์,3.22,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,28.0,ไม่ระบุ,ไม่ระบุ,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทยาศาสตร์,3.22,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,ไม่ระบุ,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,28.0,ชาย,ศิลปศาสตร์,3.22,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,ไม่ระบุ,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

13. หาค่าเฉลี่ยของน้ำหนัก, ส่วนสูงและชั่วโมงเรียนแล้วแทนในค่าว่าง

In [18]:
heighmean = round(student_copy['ส่วนสูง_cm'].mean())
student_copy['ส่วนสูง_cm'].fillna(heighmean, inplace=True)

Weighmean = round(student_copy['น้ำหนัก_kg'].mean())
student_copy['น้ำหนัก_kg'].fillna(Weighmean, inplace=True)

hourmean = round(student_copy['ชั่วโมงเรียน_ต่อสัปดาห์'].mean())
student_copy['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(hourmean, inplace=True)

student_copy

/tmp/ipykernel_6924/953759145.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_copy['ส่วนสูง_cm'].fillna(heighmean, inplace=True)
/tmp/ipykernel_6924/953759145.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_copy['น้ำหนัก_kg'].fillna(Weighmean, inplace=True)
/tmp/ipykernel_6924/953759145.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_copy['ชั่วโมงเรียน_ต่อสัปดาห์'].fillna(hourmean, inplace=True)

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ชาย,วิทยาศาสตร์,3.22,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,28.0,ชาย,วิศวกรรมศาสตร์,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรมศาสตร์,3.22,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,28.0,ไม่ระบุ,ไม่ระบุ,3.78,167.0,68.0,21.0,2024-01-07
11,64012,นภา,22.0,ชาย,วิทยาศาสตร์,3.22,171.0,64.0,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,ไม่ระบุ,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,28.0,ชาย,ศิลปศาสตร์,3.22,174.0,76.0,21.0,2023-12-18
19,64020,ลัดดา,22.0,ไม่ระบุ,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

#Feature Engineering

1. encode จากตัวอักษรเป็นเลขเพื่อให้ตัว AI เข้าใจและนำไปคิดได้

In [19]:
data_encoded = pd.get_dummies(student_copy['เพศ'])
print(data_encoded*1)

    ชาย  หญิง  ไม่ระบุ
0     1     0        0
1     0     1        0
3     1     0        0
4     0     1        0
5     1     0        0
6     0     1        0
7     0     1        0
8     1     0        0
9     0     1        0
10    0     0        1
11    1     0        0
12    0     1        0
13    1     0        0
14    0     1        0
15    1     0        0
16    0     1        0
17    0     1        0
18    1     0        0
19    0     0        1

2. encode จากตัวอักษรเป็นเลขเพื่อให้ตัว AI เข้าใจและนำไปคิดได้

In [20]:
data2_encoded = pd.get_dummies(student_copy['คณะ'])
print(data2_encoded*1)

student_copy

    วิทยาศาสตร์  วิศวกรรมศาสตร์  ศิลปศาสตร์  ไม่ระบุ
0             1               0           0        0
1             1               0           0        0
3             1               0           0        0
4             0               1           0        0
5             0               1           0        0
6             0               1           0        0
7             0               0           1        0
8             0               0           1        0
9             0               0           1        0
10            0               0           0        1
11            1               0           0        0
12            0               1           0        0
13            0               0           1        0
14            1               0           0        0
15            1               0           0        0
16            0               1           0        0
17            0               0           0        1
18            0               0           1        0
19            1               0           0        0

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ชาย,วิทยาศาสตร์,3.22,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,28.0,ชาย,วิศวกรรมศาสตร์,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรมศาสตร์,3.22,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,28.0,ไม่ระบุ,ไม่ระบุ,3.78,167.0,68.0,21.0,2024-01-07
11,64012,นภา,22.0,ชาย,วิทยาศาสตร์,3.22,171.0,64.0,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,ไม่ระบุ,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,28.0,ชาย,ศิลปศาสตร์,3.22,174.0,76.0,21.0,2023-12-18
19,64020,ลัดดา,22.0,ไม่ระบุ,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06

3.สร้างตารางแยกจากของเก่าเพื่อให้แสดงผลไม่สับสน

In [21]:
student_health = pd.DataFrame({
    'น้ำหนัก_kg': student_copy['น้ำหนัก_kg'],
    'ส่วนสูง_cm': student_copy['ส่วนสูง_cm']
})

4.สร้าง feature ให้ช่วยคิดคำนวน BMI เพื่อนำมาจัดกลุ่ม

In [22]:
student_health['BMI'] = student_health['น้ำหนัก_kg'] / (student_health['ส่วนสูง_cm']/100)**2
student_health['สุขภาพ'] = pd.cut(student_health['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ต่ำกว่าเกณฑ์', 'สมส่วน', 'เกินมาตรฐาน', 'เป็นโรคอ้วน'])

student_health

    น้ำหนัก_kg  ส่วนสูง_cm        BMI       สุขภาพ
0         65.0       170.0  22.491349       สมส่วน
1         58.0       165.0  21.303949       สมส่วน
3         70.0       168.0  24.801587       สมส่วน
4         52.0       160.0  20.312500       สมส่วน
5         75.0       172.0  25.351541  เกินมาตรฐาน
6         48.0       158.0  19.227688       สมส่วน
7         82.0       180.0  25.308642  เกินมาตรฐาน
8         55.0       163.0  20.700817       สมส่วน
9         60.0       167.0  21.513859       สมส่วน
10        68.0       167.0  24.382373       สมส่วน
11        64.0       171.0  21.887076       สมส่วน
12        72.0       169.0  25.209201  เกินมาตรฐาน
13        54.0       164.0  20.077335       สมส่วน
14        56.0       162.0  21.338211       สมส่วน
15        78.0       173.0  26.061679  เกินมาตรฐาน
16        62.0       166.0  22.499637       สมส่วน
17        50.0       161.0  19.289379       สมส่วน
18        76.0       174.0  25.102391  เกินมาตรฐาน
19        64.0       168.0  22.675737       สมส่วน

5.สร้างตารางแยกจากของเก่าเพื่อให้แสดงผลไม่สับสน

In [23]:
student_grade = pd.DataFrame(student_copy['GPA'])

6.สร้าง feature ให้ช่วยจัดกลุ่มเกรดเฉลี่ย

In [24]:
student_grade['เกรด'] = pd.cut(student_grade['GPA'],
                                   bins=[0, 0.99, 1.29 ,1.59, 2.29, 2.59, 3.29, 3.59, 4.00],
                                   labels=['F','D','D+', 'C', 'C+', 'B','B+', 'A'])
student_grade

     GPA เกรด
0   3.21    B
1   3.45   B+
3   3.22    B
4   3.89    A
5   3.12    B
6   3.22    B
7   2.98    B
8   3.34   B+
9   3.56   B+
10  3.78    A
11  3.22    B
12  3.23    B
13  3.45   B+
14  3.67    A
15  3.89    A
16  3.01    B
17  3.23    B
18  3.22    B
19  3.45   B+

7.สร้างตารางแยกจากของเก่าเพื่อให้แสดงผลไม่สับสน

In [25]:
student_date = pd.DataFrame(student_copy['วันที่ลงทะเบียน'])

8.สร้าง Feature จากวันเวลาโดยให้ช่วยดูให้ว่าวันที่นักเรียนลงทะเบียนคือวันอะไรในสัปดาห์

In [26]:
student_date['วันที่ลงทะเบียน'] = pd.to_datetime(student_date['วันที่ลงทะเบียน'])
student_date['วันในสัปดาห์'] = student_date['วันที่ลงทะเบียน'].dt.day_name()
student_date

   วันที่ลงทะเบียน วันในสัปดาห์
0       2024-01-23      Tuesday
1       2024-02-05       Monday
3       2023-12-30     Saturday
4       2024-01-27     Saturday
5       2023-12-23     Saturday
6       2024-01-05       Friday
7       2024-01-23      Tuesday
8       2024-02-11       Sunday
9       2024-01-03    Wednesday
10      2024-01-07       Sunday
11      2023-12-26      Tuesday
12      2023-12-26      Tuesday
13      2024-01-08       Monday
14      2024-02-06      Tuesday
15      2024-01-20     Saturday
16      2024-01-24    Wednesday
17      2024-01-08       Monday
18      2023-12-18       Monday
19      2024-01-06     Saturday

ข้อมูลที่ทำการ Data preparation, Feature Engineering เรียบร้อยแล้ว

In [27]:
student_copy

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทยาศาสตร์,3.45,165.0,58.0,20.0,2024-02-05
3,64004,สมศักดิ์,22.0,ชาย,วิทยาศาสตร์,3.22,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,หญิง,วิศวกรรมศาสตร์,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,28.0,ชาย,วิศวกรรมศาสตร์,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรมศาสตร์,3.22,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,หญิง,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,ชาย,ศิลปศาสตร์,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลปศาสตร์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,28.0,ไม่ระบุ,ไม่ระบุ,3.78,167.0,68.0,21.0,2024-01-07
11,64012,นภา,22.0,ชาย,วิทยาศาสตร์,3.22,171.0,64.0,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวกรรมศาสตร์,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,ศิลปศาสตร์,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,หญิง,วิทยาศาสตร์,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ชาย,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,หญิง,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,ไม่ระบุ,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,28.0,ชาย,ศิลปศาสตร์,3.22,174.0,76.0,21.0,2023-12-18
19,64020,ลัดดา,22.0,ไม่ระบุ,วิทยาศาสตร์,3.45,168.0,64.0,23.0,2024-01-06